<!DOCTYPE html>
<html>
<head>
<title>kfold</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="header">
        <div class="inner">
        <h1>kfold</h1>
        </div>
    </div>
    <div id="content">
        <div class="inner">
        <p>welcome.
    <div id="toc">
    {% for item in toc %}
    <div class="article-ref">
        <small>{{ item.date }}</small>
        <a href="{{ item.url }}">{{ item.title }}</a>
        {% if item.desc is defined %}: {{ item.desc }}{% endif %}
    </div>
    {% endfor %}
    </div>
    </div>
    </div>
</body>
</html>
