body {
    background-color: rgb(22, 24, 33);
    color: rgb(210, 212, 222);
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
}

a {
    color: rgb(149, 196, 206);
}

h1 a {
    text-decoration: none;
    color: rgb(22, 24, 33);
}

pre {
    background-color: rgb(15, 17, 23);
    color: rgb(132, 160, 198);
    font-family: "Inconsolata";
    padding: 0.8rem 1rem;
}

#header {
    color: rgb(22, 24, 33);
    background-color: rgb(210, 212, 222);
    padding: 0.25rem 1rem;
}

#content {

}

#article {

}

#content #title {
    background-color: rgb(15, 17, 23);
    margin: 0 0 1rem 0;
    padding: 1.5rem 0;
}

#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header h6,
#header p,
#content #title p,
#content #title h1,
#content #title h2,
#content #title h3,
#content #title h4,
#content #title h5,
#content #title h6 {
    margin-top: 0;
    margin-bottom: 0;
}

#footer {
    border-top: none 2px rgb(15, 17, 23);
    margin: 2rem 0 0 0;
    padding: 0 1rem;
}

.inner {
    margin: 0 auto;
    max-width: 720px;
}

